@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="well-lg">
    I do what I want. 
    You confirm that you expressly provide me any and all grants necessary for me to do what I want.
</p>
