<mat-toolbar color="primary">
    <span>
        {{ applicationTitle }}
    </span>
    <span>
        <a href="https://www.nasa.gov">
            National Aeronautics and Space Administration
        </a>
    </span>
    <span>
        <a href="https://www.google.com">
            Google Search
        </a>
    </span>
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="user" [title]="isAdministrator ? 'Administrator' : 'User'">
        Welcome, {{ user.preferredName }}
    </span>
    <span *ngIf="isAdministrator">
        <a href="https://www.google.com/maps">
            Administer
        </a>
    </span>
</mat-toolbar>
